# Requirements for runtime.
autodoc-pydantic

python-Levenshtein
scikit-learn
filelock
loguru
fire
fuzzywuzzy
openai

numpy # we use numpy as default data format. So we have to install numpy
pandas # we use pandas as default data format. So we have to install pandas
pandarallel # parallelize pandas
langchain
langchain-community
tiktoken
pymupdf  # Extract shotsreens from pdf

# PDF related
pypdf
azure-ai-formrecognizer

# factor implementations
tables

python-dotenv

# infrastructure related.
docker

# demo related
streamlit

# kaggle crawler
selenium
nbformat

# tool
setuptools-scm
