# AutoRL-Bench dependencies
# conda environment: (Python 3.10)

# RL training (core)
trl>=0.27.0
accelerate>=1.0.0
datasets>=3.0.0
peft>=0.18.1

# Review
opencompass==0.5.1
setuptools<75 # uv venv does not come with it, opencompass depends on pkg_resources

# Inference acceleration (optional, TRL supports 0.10.2-0.12.0)
vllm>=0.12.0

# Data processing
numpy>=1.26.0
pandas>=1.5.0
pydantic>=2.0.0

# Model
torch>=2.0.0
transformers>=4.40.0
huggingface_hub>=0.20.0

# Web services
flask
flask-cors

# tool
loguru
requests
pyyaml
